/* ----GENERAL STYLES---- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* General and paragraph font with fall back. */
    font-family: "Arial", "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    /* Font for headings with fall back. */
    font-family: "Times New Roman", "Georgia", sans-serif;
    margin-bottom: 5px;
}

/* Title h1 of all pages */
.page-title {
    margin: 5px 0 5px 10px;

}

/* General paragraph stylings. */
p {
    font-size: 16px;
    text-align: left;
    padding: 5px;
    line-height: 1.5em;
}

/* JS message that only displays when Javascript is blocked. */
.js-message {
    display: block;

    /* Show the "Use JS" message slowly to avoid blinking */
    animation: 5s fadeIn;
    animation-fill-mode: forwards;
    position: absolute;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

/* General list stylings. */
.paragraph-list {
    margin: 5px 15px 5px 50px;
}

.paragraph-list li {

    font-size: 16px;
    text-align: left;
    line-height: 1.3em;
}

html,
body {
    background-color: #F5F5F5;
    /*width: 100vw;
    height: 100vh;
    */
}

/* General link stylings */
a,
a:link {
    text-decoration: none;
    color: #3366FF;
}

a:active {
    color: #FF8C00;
    text-decoration: none;
}

a:visited {
    color: #006699;
}

a:hover {
    color: #006699;
    text-decoration: underline;
}

/* ----HEADER STYLES---- */
.header-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    /*border-bottom: 5px solid #999999;*/
    background-color: #0572CE;
}

.header-container .logo {
    display: block;
    padding: 10px;
    margin: auto 0;
    border-bottom: 1px solid black;
}

.header-container .logo img {
    width: 150px;
}

.top-navigation {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.navigation-items {
    display: flex;
    list-style: none;
}

.navigation-items a {
    color: #FFF;
}

.navigation-link {
    display: flex;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #666666;
    border: 1px solid #505050;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1.25px solid black;
}

.navigation-link.active {
    color: #000;
}

.active,
.navigation-link:hover,
.search-container:hover {
    transition-duration: 0.4s;
    background-color: #F5F5F5;
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    border-bottom: 1.25px solid #F5F5F5;
}

.inbetween-bottom-border {
    display: flex;
    border-bottom: 1px solid black;
    flex-grow: 1;
    flex-shrink: 1;
}
.search-container {
    display: flex;
    padding: 4px;
    background-color: #666666;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #505050;
    border-bottom: 1.25px solid black;
}

.search-box {
    margin-right: 5px;
    padding-left: 3px;
    max-width: 160px;
}

.search-icon {
    color: black;
    padding-top: 2px;
}

.search-button {
    background-color: #E6E6E6;
    border: 1px solid black;
    border-radius: 3px;
}

.search-icon:hover,
.search-button:hover {
    background-color: #cdcdcd;
}

.right-header-container {
    display: flex;
    flex-direction: column;
}

/* ---- Login & Register button + overlay styles ---- */
.login-container {
    display: flex;
    width: 100%;
    position: absolute;
    top: 6px;
    right: 10px;
    justify-content: flex-end;
    align-items: center;
}

/* Gradient buttons!*/
.custom-button {
    cursor: pointer;
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: #000000;
    background-color: #E6E6E6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
    background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}

.custom-button:hover {
    border: 1px solid #b3b3b3;
    background-color: #cdcdcd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#b3b3b3));
    background-image: -webkit-linear-gradient(top, #cdcdcd, #b3b3b3);
    background-image: -moz-linear-gradient(top, #cdcdcd, #b3b3b3);
    background-image: -ms-linear-gradient(top, #cdcdcd, #b3b3b3);
    background-image: -o-linear-gradient(top, #cdcdcd, #b3b3b3);
    background-image: linear-gradient(to bottom, #cdcdcd, #b3b3b3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#cdcdcd, endColorstr=#b3b3b3);
}

.custom-link-button,
.custom-link-button:hover,
.custom-link-button:active,
.custom-link-button:link,
.custom-link-button:visited {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.login-separator {
    height: 30px;
    margin: 5px;
    border-color: #b3b3b3;
}

.login-overlay,
.register-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Add opacity! */
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    /* Overlay the rest of the pages content. */
    z-index: 99;
}

.register-overlay-container,
.login-overlay-container {
    position: relative;
    top: 0px;
    right: 0px;
    pointer-events: auto;
    cursor: initial;
    display: flex;
    justify-self: center;
    background-color: #F5F5F5;
    padding: 15px;
    flex-direction: column;
    border: 1px solid black;
    min-width: 500px;
    /* Overlay the rest of the pages content. */
    z-index: 99;
}

.input-box {
    padding: 5px;
    margin: 0 0 5px 0;
    border-radius: 3px;
}

.login-overlay-button-container,
.register-overlay-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.register-overlay-username,
.register-overlay-email,
.register-overlay-password,
.login-overlay-username,
.login-overlay-password {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.overlay-h1 {
    display: block;
    text-align: center;
}

/* ----BREADCRUMB STYLES---- */
.breadcrumbs {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    padding: 2px 10px 1px 10px;
    background-color: #e2e2e2;
    position: fixed;
    width: 100%;
    top: 90px;
    font-size: 14px;
    margin-top: 2px;
    border-top: 13px solid #F5F5F5;
    z-index: auto;
}

.breadcrumb-list,
.search-breadcrumbs-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: auto 0;
}

.search-breadcrumbs-list li {
    margin: 0 5px;
    text-decoration: none;
}

.search-breadcrumbs-list li:first-of-type {
    font-weight: bold;
}

/* Add arrow between listed items. */
.breadcrumb-list li + li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}

.breadcrumb-paragraph {
    font-size: 14px;
    text-align: left;
    padding: 0px;
    padding-right: 10px;
    margin: auto 0;
    line-height: 1.5em;
}

.breadcrumb-firstItem,
.breadcrumb-firstItem:visited,
.breadcrumb-firstItem:hover,
.breadcrumb-firstItem:link,
.breadcrumb-firstItem:active {
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    cursor: default;
}

/* ---- General content container styles ---- */
/* Have a margin, such that there is now overlap with global navigation */
.content-margin {
    margin-top: 130px;
    margin-bottom: 30px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #F5F5F5;
}

/* ---- BACK TO TOP BUTTON ----*/
.back-to-top-button {
    display: none;
    position: fixed;
    color: white;
    font-size: 14px;
    font-weight: bold;
    bottom: 40px;
    right: 9px;
    z-index: 99;
    background-color: #666666;
    cursor: pointer;
    padding: 0 5px 10px 5px;
    border-radius: 10px;
}
/* Arrow icon placement */
.arrow-up {
    position: relative;
    top: 7px;

    font-size: 16px;
}

.back-to-top-button:hover {
    background-color: darkgray;
}

/* ----FOOTER STYLES---- */
.footer-container {
    width: 100%;
    height: 30px;
    background-color: #9fcdff;
    position: fixed;
    bottom: 0;
    font-size: 14px;
}

.footer-link-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

/* Make footer element unclickable if path matches footer element */
.footer-active,
.footer-active:visited,
.footer-active:hover,
.footer-active:active,
.footer-active:link {
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    cursor: default;
    pointer-events: none;
}

/*.content-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}*/

/*.bottom-box {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    background-color: white;
    border-bottom: 1px solid red;
    width: 100%;
}*/

/* ---- HOME STYLE ---- */
.home-about-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    align-items: left;
}

/* ---- PLATFORM STYLES ----*/
.add {
    position: relative;
    top: 6px;
    left: 2px;
    color: green;
    font-size: 16px;
}

.add-platform-button {
    display: block;
    padding: 0 10px 10px 2px;
    font-size: 14px;
}



.form-container {
    padding-top: 5px;
}

.fieldset-container {
    padding: 5px 10px 10px 10px;
    width: 600px;
}

.fieldset-container input[type="text"],
.fieldset-container textarea {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 2px;
    border-radius: 2px;
    border: 1px solid black;
}

.fieldset-container input[type="text"]:focus {
    border: 1px solid rgba(81, 203, 238, 1);
}

.fieldset-container label {
    font-weight: bold;
    padding-right: 50px;
}

.required-input-container .info {
    display: none;
}

.required-input-container input[type="text"] {
    margin-bottom: 0px;
}

.required-input-container {
    margin-bottom: 10px;
}

dd.error {
    color: darkred;
    padding-left: 5px;
}

.custom-form input[type="text"]:last-of-type {
    margin-bottom: 5px;
}

.form-buttons-container {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.form-buttons-container button {
    margin-left: 15px;
}

.button-right-arrow {
    position: relative;
    top: 6px;
    right: -5px;
    font-size: 16px;
}

.platform-details-header-container {
    display: flex;
    justify-content: space-between;
}

.platform-details-container {
    display: flex;
    flex-direction: column;
}

.link-with-icon,
.link-with-icon:visited {
    color: #3366FF;
}

.link-with-icon:hover {
    color: #006699;
    text-decoration: none;
}

.platform-table-container {
    width: 600px;
}

.platform-table-header {
    display: flex;
    justify-content: space-between;

}

.platform-table-header-name {
    display: flex;
    flex: 1;
}

.platforms-header-container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 5px 0;
}

.platform-filter {
    padding: 0;
    padding-left: 5px;
    margin: 5px 0;
}

.platform-table {
    width: 600px;
}

.platform-table-header,
.platform-table-column {
    text-align: left;
    padding: 0;
    padding-left: 10px;
    font-size: 18px;
}

.platform-table-column {
    padding-top: 5px;
}


.platform-table a,
.platform-table a:hover,
.platform-table a:visited,
.platform-table a:link,
.platform-table a:active {
    text-decoration: none;
    color: black;
}

edit {
    color: black;
}

.edit:hover {
    color: #3366FF;
}

.delete {
    cursor: pointer;
    color: red;
}

.delete:hover {
    color: #FF8C00;
}

.platform-table-row:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

.platform-table-header:hover {
    background-color: initial;
    color: black;
}

.platform-icon-container {
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

/* ---- ABOUT STYLE ---- */
.about-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    align-items: left;
}

/* ---- HOW TO PARTICIPATE STYLE ---- */
.howto-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    align-items: left;
}



/* ---- COOKIE MESSAGE ---- */
.js_enabled .cookie-message {
    display: none;
}
body {
    margin: 0;
    font-family: sans-serif;
}
.cookie-policy-content {
    margin: 1em;
}
.cookie-message {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #d5e6ed;
    color: #662d91;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
}

.cookie-message p {
    text-align: center;
}

.cookie-message-button-container {
    position: relative;
    left: 45%;
}

.close-cookie-message-button {
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

table thead tr {
    border-bottom: 1px solid #444;
}

table tbody tr {
    border-bottom: 1px solid #777;
}

table tbody tr:nth-last-child(1) {
    border: none;
}

table thead th {
    text-align: left;
    font-weight: bold;
}

table th:nth-child(1) {
    min-width: 7rem;
}

table th {
    padding: 0.8rem 0.8rem 0.4rem 0;
    vertical-align: top;
}

table td {
    padding: 0.8rem 0.8rem 0.8rem 0;
    vertical-align: top;
}

table + h3 {
    margin-top: 1.25rem;
}

/* Media Queries to enable responsiveness. */
@media only screen and (max-width: 1082px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        /*position: static;*/
    }

    .header-container .logo {
        border-bottom: none;
    }

    .top-navigation {
        justify-content: flex-start;
    }

    .navigation-items {
        flex-wrap: wrap;
    }

    .navigation-link.active {
        border: 1px solid black;
        border-bottom: 1px solid #F5F5F5;
    }

    .breadcrumbs {
        top: 100px;
    }

    .content-margin {
        margin-top: 140px;
    }

    /* Make the logo smaller to keep more vertical space on the page! */
    .header-container .logo img {
        width: 80px;
    }
}

@media only screen and (max-width: 912px) {
    .top-navigation {
        display: block;
    }

    .navigation-items {
        display: block;
    }

    .navigation-link.active,
    .navigation-link:hover,
    .search-Container:hover {
        background-color: #F5F5F5;
        color: #000;
        border: 1px solid black;
    }

    .navigation-link {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }

    .search-Container {
        border: 1px solid black;
        border-radius: unset;
        padding: 3px;
    }

    .login-container {
        position: relative;
        top: 0px;
        right: 10px;
        margin-bottom: 5px;
    }

    .right-header-container {
        position: absolute;
        top: 5px;
        right: 0px;
    }

    .navigation-link,
    .navigation-link:hover {
        border: 1px solid black;
    }

    .register-overlay-container,
    .login-overlay-container {
        min-width: initial;
    }

    /* Don't display "Back to Top" Button on mobile to avoid clutter. */
    .back-to-top-button {
        display: none !important;
    }

    /* Top Navigation and breadcrumbs should'nt be global on mobile the way it's displayed. Everything should be
     packaged in a burger menu instead. But this is out of scope right now. */
    .header-container {
        position: initial;
    }

    .breadcrumbs {
        position: initial;
    }

    .content-margin {
        margin-top: 0px;
    }

    /* Reset the logo size to make space for search and buttons, since navigation isn't global anymore */
    /* Make the logo smaller to keep more vertical space on the page! */
    .header-container .logo img {
        width: 150px;
    }

    .fieldset-container {
        width: 350px;
    }

}

/* If something cuts the logo, reduce its size. */
@media only screen and (max-width: 380px) {
    .header-container .logo img {
        width: 80px;
        position: relative;
        top: 20px;
        left: 2px;
    }

    .header-container .logo {
        height: 91px;
    }
}
