* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F2F2F2;
    padding: 10px 0;
}

.header-container ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
}

.header-container ul li a {
    text-decoration: none;
    color: #7D7C7D;
}

.logo {
    margin-left: 5%;
}

.logo img {
    display: block;
}

.top-navigation {
    margin: 5% 0 0 5%;
}

.top-navigation li {
    list-style: none;
}

.top-navigation a.active {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-weight: 300;
}

.top-navigation a:hover {
    color: #B6B6B6;
}

@media screen and (min-width: 900px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        margin-left: 2.3em;
    }

    .top-navigation {
        align-items: center;

    }
}
