@main("About Page") {

    <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS!!-->
    <div class="breadcrumbs">
        <p class="breadcrumb-paragraph">You are here: </p>
        <ul class="breadcrumb-list">
            <li class="breadcrumb-firstItem">About Us</li>
        </ul>
    </div>

    <div id="content-container" class="content-container">
        <div class="about-container">

            <h2>The *metrics Project</h2>
            <p class="about-paragraph">
                The main objective of this project is to develop a deeper understanding of *metrics, especially in terms
                of their general significance and their perception amongst stakeholders. To this end, key considerations
                will include the quality of *metrics underlying data (in terms of validity and reliability), the
                historical context within which *metrics arose, as well as their ability to adequately assess scientific
                outputs against the background of disciplinary specificities. The project’s findings will benefit
                *metrics users (e.g., researchers, research funders), information services and libraries, as well as
                *metrics providers, enabling *metrics informed use and widening our kowledge about their limitations
                and possibilities for interpretation. A publicly-funded project such as *metrics also guarantees
                transparency and open access to project results, which is not the norm among commercial providers
                in this area. If you want to know more about the *metrics project or the social media registry, please
                visit our website: <a href="@routes.ApplicationController.metrics()">metrics-project.net</a>.
            </p>

            <h2>The *metrics Social Media Registry</h2>
            <p> The *metrics Social Media Registry <strong>(SoMeR)</strong> is a task within the
                <a href="@routes.ApplicationController.about()">*metrics project</a>. In this task the *metrics team
                is developing a registry of social media platforms that are used for scholarly communication. The
                SoMeR includes platforms that were created specifically for scientific use, as well
                as general purpose platforms that are now commonly used by scientists for dissemination of their
                research results. For all services, it describes:</p>
            <ul class="paragraph-list">
                <li>which functions of scholarly communication they support,</li>
                <li>which interactions are possible, and</li>
                <li>what meaningfulness social media metrics possess that are based on these interactions.</li>
            </ul>
            <p>In the future, the SoMeR will also provide a detailed overview on currently offered social media metric
                aggregators and a comparision of the information that is offered by these services.
            </p>

        </div>
    </div>
}