@main("Cookie Policy") {
    <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS!!-->
    <div class="breadcrumbs">
        <p class="breadcrumb-paragraph">You are here: </p>
        <ul class="breadcrumb-list">
            <li class="breadcrumb-firstItem">Cookie Policy</li>
        </ul>
    </div>
    <div class="content-container">
        <div class="cookie-policy-content home-about-container">
            <h2>Cookie Policy</h2>

            <h3>Cookies</h3>

            <p>A cookie is a small text file which is automatically saved on your computer when you visit
                our website and is used to help track activity across a website. The *metrics SoMeR uses cookies
                on for the following purposes:</p>


            <h3>Website</h3>

            <p>We use cookies to help increase the user experience of this website.</p>

            <table border="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Expiration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>seen-cookie-message</td>
                        <td>Used to indicate you have seen the cookie message</td>
                        <td>30 days</td>
                    </tr>
                </tbody>
            </table>

            <h3>Removing cookies</h3>
            <p>If you have any concerns about cookies, or want to remove cookies from your computer, please visit
                <a href="http://www.allaboutcookies.org/">All About Cookies</a> which explains how to do this.</p>

            <h3>Collection of personal information</h3>

            <p>If you contact us via a form on our website your personal information will only be used
                for us to contact you. No personal data you send us will be disclosed to a third party without
                your permission.</p>

            <p>If you wish us to remove any personal details we hold about you, please email us at
                <a href="mailto:[EMAIL ADDRESS]"> | TODO: ContactSoMeR | </a>.</p>
        </div>
    </div>
}