@import helper._
@main("Create New Function Category Page") {
    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
        @flash.get("error")
        </div>
    }
        <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS.-->
    <div class="breadcrumbs">
        <p class="breadcrumb-paragraph">You are here: </p>
        <ul class="breadcrumb-list">
            <li class="breadcrumb-firstItem"><a href="@routes.PlatformsController.platforms()">
                Platforms</a></li>
            <li>Create new Function Category</li>
        </ul>
    </div>

    <div class="content-container">
        <div class="platformcreate-container">
            <div class="form-container">
            @helper.form(action = routes.PlatformsController.saveNewPlatform(),
                'class -> "custom-form", 'id -> "create-new-function-category-form",
                'name -> "create-new-function-category-form") {
                <fieldset class="fieldset-container">
                    <legend>
                        <div class="platformcreate-form-legend">
                            <button type="button" class="create-new-top-navigation-link platform-navigation-active">
                                <h2 class="platforms-headings">Create new Function Category</h2>
                            </button>
                            <div class="create-new-right-bottom-border"></div>
                        </div>
                    </legend>

                    <div class="label-input-container">
                        <label for="functionCategory">
                            Enter Platform Name
                        </label>
                        <input type="text" name="functionCategory" value=""
                        placeholder="Enter Platform Name.. (Required)" required/>
                            <!-- Show an error message when there is an input error on the platform name. -->
                        @if(flash.containsKey("function_category_create_new_error")) {
                            <div class="alert alert-error">
                            @flash.get("function_category_create_new_error")
                            </div>
                        }
                    </div>

                    <div class="form-buttons-container">
                        <button name="submit-button" type="submit" class="custom-button"
                        id="form-submit-button">
                            Save & View
                        </button>
                        <div>
                            <a class="custom-button custom-link-button unselectable"
                            href="@routes.PlatformsController.platforms()">
                                Cancel
                            </a>
                        </div>
                    </div>
                </fieldset>
            }
            </div>
        </div>
    </div>
}