@main("Home Page") {
    <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS!!-->
    <div class="breadcrumbs">
        <p class="breadcrumb-paragraph">You are here: </p>
        <ul class="breadcrumb-list">
            <li class="breadcrumb-firstItem">Home</li>
        </ul>
    </div>

    <div id="content-container" class="content-container">
        <div class="home-about-container">
            <h2> Welcome to the *metrics SoMeR!</h2>
            <p><strong>What do you want to do?</strong></p>
            <ul class="home-list">
                <li><a href="@routes.ApplicationController.about()">I want to know more about this website.</a></li>
                <li><a href="@routes.ApplicationController.about()">I want to know more about the *metrics project.</a></li>
                <li><a href="@routes.PlatformsController.platforms()">I'm looking for information about social media platforms.</a></li>
            </ul>
            <h3>About the *metrics Social Media Registry</h3>
            <p> The *metrics Social Media Registry <strong>(SoMeR)</strong> is a task within the
                <a href="@routes.ApplicationController.about()">*metrics project</a>. In this task the *metrics team
                is developing a registry of social media platforms that are used for scholarly communication. The
                SoMeR includes platforms that were created specifically for scientific use, as well
                as general purpose platforms that are now commonly used by scientists for dissemination of their
                research results. For all services, it describes:</p>
            <ul class="paragraph-list">
                <li>which functions of scholarly communication they support,</li>
                <li>which interactions are possible, and</li>
                <li>what meaningfulness social media metrics possess that are based on these interactions.</li>
            </ul>
            <p>In the future, the SoMeR will also provide a detailed overview on currently offered social media metric
                aggregators and a comparision of the information that is offered by these services.
            </p>

        </div>
    </div>
}