@(title: String)(content: Html)

<!--
    Method to set current pages top navigation item.
    If the current pages path matches the item,
    set it to "active"
-->
@setTopLinkActive(pathName: String) = @{
    if(request.path.equals(pathName)) "active"
}

    <!--
    Method to set current pages footer navigation item.
    If the current pages path matches the item,
    set it to "footer-active"
-->
@setFooterLinkActive(pathName: String) = @{
    if(request.path.equals(pathName)) "footer-active"
}

    <!--
    Method to set current pages footer navigation item.
    If the current pages path matches the item,
    set it to "footer-active"

@setBreadcrumbs(pathName: String) = @{
    if(request.path.equals(pathName)) request.path
}
    -->

    <!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>

    </head>
    <body>
            <!-- Global Header with Top Navigation, Search & Login before each pages content! -->
        <header>
            <div class="header-container">
                <div class="logo">
                    <a href="@routes.ApplicationController.home()">
                        <img src="@routes.Assets.at("images/logo_metrics_white.svg")"/>
                    </a>
                </div>
                <nav class="top-navigation">

                        <!-- Global navigation elements -->
                    <div id="navigation-items" class="navigation-items">
                        <a class="@setTopLinkActive("/home") navigation-link" href="@routes.ApplicationController.home()">
                            Home</a>
                        <a class="@setTopLinkActive("/platforms") navigation-link" href="@routes.ApplicationController.platforms()">
                            Platforms</a>
                        <a class="@setTopLinkActive("/aggregators") navigation-link" href="@routes.ApplicationController.aggregators()">
                            Aggregators</a>
                        <a class="@setTopLinkActive("/howtoparticipate") navigation-link" href="@routes.ApplicationController.howTo()">
                            How To Participate</a>
                        <a class="@setTopLinkActive("/about") navigation-link" href="@routes.ApplicationController.about()">
                            About</a>
                        <a class="@setTopLinkActive("/management") navigation-link" href="@routes.ApplicationController.management()">
                            Management</a>
                    </div>

                    <div class="inbetween-bottom-border"></div>
                    <div class="right-header-container">
                        <div class="login-container">
                            <button class="custom-button" type="button" onclick="registerVisible()">Register</button>
                            <hr class="login-separator"/>
                            <button class="custom-button" type="button" onclick="loginVisible()">Login</button>
                        </div>

                        <div class="@setTopLinkActive("/search") search-Container">
                            <input class="search-Box" type="search" placeholder="Search.." q="googlesearch"/>
                            <button class="search-Button" type="submit">
                                <a href="@routes.ApplicationController.search()">
                                    <i class="material-icons search-Icon">search</i>
                                </a>
                            </button>
                        </div>
                    </div>

                    <div id="register-overlay" class="register-overlay">
                        <div class="register-overlay-container">
                            <h1 class="overlay-h1">Register</h1>

                            <div class="register-overlay-username">
                                <h4>Username:</h4>
                                <input class="input-box" type="text" placeholder="Enter Username.."/>
                            </div>

                            <div class="register-overlay-email">
                                <h4>E-Mail</h4>
                                <input class="input-box" type="email" placeholder="Enter E-Mail.."/>
                                <input class="input-box" type="email" placeholder="Repeat E-Mail.."/>
                            </div>

                            <div class="register-overlay-password">
                                <h4>Password</h4>
                                <input class="input-box" type="password" placeholder="Enter Password.."/>
                                <input class="input-box" type="password" placeholder="Repeat Password.."/>
                            </div>

                            <div class="register-overlay-button-container">
                                <button class="custom-button" type="submit">Register</button>
                                <button class="custom-button" type="button" onclick="registerInvisible()">Cancel</button>
                            </div>

                        </div>
                    </div>

                    <div id="login-overlay" class="login-overlay">
                        <div class="login-overlay-container">
                            <h1 class="overlay-h1">Login</h1>

                            <div class="login-overlay-username">
                                <h4>Username:</h4>
                                <input class="input-box" type="text" placeholder="Enter Username.."/>
                            </div>

                            <div class="login-overlay-password">
                                <h4>Password:</h4>
                                <input class="input-box" type="password" placeholder="Enter Password.."/>
                                <a href="#None">Forgot password?</a>
                            </div>

                            <div class="login-overlay-button-container">
                                <button class="custom-button" type="submit">Login</button>
                                <button class="custom-button" type="button" onclick="loginInvisible()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        @content

            <!-- Footer after each pages content! -->
        <footer class="footer-container">
            <ul class="footer-link-list">
                <li><a class="@setFooterLinkActive("/howtoparticipate")" href="@routes.ApplicationController.howTo()">
                    How To Participate</a></li>
                <li><a class="@setFooterLinkActive("/about")" href="@routes.ApplicationController.about()">About</a></li>
                <li><a class="@setFooterLinkActive("/imprint")" href="@routes.ApplicationController.imprint()">
                    Imprint</a></li>
                <li><a href="@routes.ApplicationController.metrics()">*metrics Project</a></li>
            </ul>
        </footer>

    </body>
    <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
</html>
