@(functionList: List[Function])
@main("Platform Properties Function Categories Page") {

    <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS!!-->
    <div class="breadcrumbs">
        <p class="breadcrumb-paragraph">You are here: </p>
        <ul class="breadcrumb-list">
            <li class="breadcrumb-firstItem">SoMeR Management</li>
            <li>Platform Properties <strong>(Function)</strong></li>
        </ul>
    </div>

    <div id="content-container" class="content-container">
        <div class="management-container">
            <div class="management-heading-container">
                <h1 class="management-headings">SoMeR Management</h1>
            </div>

            <div class="management-navigation-container">
                <div class="management-left-bottom-border"></div>
                <!--
                <a class="management-top-navigation-link">
                    Comment Feed
                </a>
                -->
                <a class="management-top-navigation-link management-top-navigation-active">
                    Platform Properties
                </a>
                <a class="management-top-navigation-link"
                href="@routes.ManagementController.aggregatorProperties()">
                    Aggregator Properties
                </a>
                <a class="management-top-navigation-link"
                href="@routes.ManagementController.showHistory()">
                    History
                </a>
                <div class="management-right-bottom-border"></div>
            </div>

            <div class="management-content-container">
                <div class="management-subnavigation-container">
                    <a class="management-subnavigation-link"
                    href="@routes.ManagementController.platformPropertiesInformation()">
                        Platform Information
                    </a>
                    <a class="management-subnavigation-link management-subnavigation-active">
                        Function
                    </a>
                    <a class="management-subnavigation-link"
                    href="@routes.ManagementController.platformPropertiesImpact()">
                        Impact
                    </a>
                </div>
                <div class=".management-platform-information-table-container">
                    <div class="select-or-create-new-information-container">
                        <h2 class="select-management-platform-information-heading">Manage Function Categories</h2>
                        <a href=""
                        class="create-new-platform-information">
                            <button class="custom-button add-button" id="add-button">
                                <i class="material-icons add">add</i>
                                Create new Function Category</button>
                        </a>

                    </div>

                    <table id="management-function-category-table"
                    class="management-platform-information-table">
                        <thead>
                            <tr>
                                <th class="table-header">
                                    <div class="table-name">
                                        <span class="column-name">
                                            Function Category Name
                                        </span>
                                    </div>
                                    <div class="filter-container">
                                        <input type="text" id="function-category-filter" class="filter"
                                        placeholder="Filter function categories..">
                                        <button type="button" id="filter-button"
                                        class="custom-button custom-filter-button"
                                        onclick="filterFunctionCategories()">
                                            Filter
                                        </button>
                                        <hr class="filter-button-separator"/>
                                        <button type="button"
                                        class="custom-button custom-reset-button"
                                        onclick="resetFunctionCategoriesFilter()">
                                            Reset
                                        </button>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                        @helper.form(action = routes.ManagementController.management(),
                            'class -> "custom-form", 'id -> "management-form") {

                            @for(function <- functionList) {
                                <tr id="platform-table-row" class="management-category-table-row">
                                    <td class="table-cell" id="table-cell">
                                        <div class="table-column"
                                        id="table-column">
                                            <a class="management-category-table-row-link"
                                            id="table-row-link-@function.functionDescription"
                                            value="@function.functionCategory"
                                            href="@routes.ManagementController.platformPropertiesFunctionEmpty()">
                                            @function.functionCategory</a>
                                            <div class="delete-edit-icon-container unselectable"
                                            id="delete-edit-icon-container-@function.functionDescription">
                                                    <!-- Very ugly formatting but line breaks break everything-->
                                                <a class="unselectable"
                                                onclick="deleteFunctionCategory('@routes.ManagementController.deleteFunctionCategory(function)', '@function.functionCategory')">
                                                    <i class="material-icons delete">delete</i>
                                                </a>
                                            </div>
                                            <input type="hidden" value="@function.functionDescription"
                                            name="functionCategoryUrl-@function.functionDescription"/>
                                        </div>
                                    </td>

                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="@routes.Assets.at("javascripts/management.js")" type="text/javascript"></script>
}