@(informationList: List[Information])
@main("Management Page") {

    <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS!!-->
    <div class="breadcrumbs">
        <p class="breadcrumb-paragraph">You are here: </p>
        <ul class="breadcrumb-list">
            <li class="breadcrumb-firstItem">SoMeR Management</li>
            <li>Comment Feed</li>
        </ul>
    </div>

    <div id="content-container" class="content-container">
        <div class="management-container">
            <div class="management-heading-container">
                <h1 class="management-headings">SoMeR Management</h1>
            </div>

            <div class="management-navigation-container">
                <div class="management-left-bottom-border"></div>
                <a class="management-top-navigation-link">
                    Comment Feed
                </a>
                <a class="management-top-navigation-link management-top-navigation-active">
                    Platform Properties
                </a>
                <a class="management-top-navigation-link">
                    Aggregator Properties
                </a>
                <a class="management-top-navigation-link">
                    History
                </a>
                <div class="management-right-bottom-border"></div>
            </div>

            <div class="management-content-container">
                <div class="management-subnavigation-container">
                    <a class="management-subnavigation-link management-subnavigation-active">
                        Platform Information
                    </a>
                    <a class="management-subnavigation-link"
                    href="@routes.ManagementController.platformPropertiesFunction()">
                        Function
                    </a>
                    <a class="management-subnavigation-link"
                    href="@routes.ManagementController.platformPropertiesImpact()">
                        Impact
                    </a>
                </div>
                <div class=".management-platform-information-table-container">
                    <div class="select-or-create-new-information-container">
                        <h2 class="select-management-platform-information-heading">Manage Platform Information</h2>
                        <a href="@routes.PlatformsController.createNewPlatform()">
                            <button class="custom-button add-button">
                                <i class="material-icons add">add</i> Create new Platform Information</button>
                        </a>
                    </div>
                    @if(flash.containsKey("success")) {
                        <div class="alert alert-success">
                        @flash.get("success")
                        </div>
                    }
                    <table id="management-platform-information-table"
                    class="management-platform-information-table">
                        <thead>
                            <tr>
                                <th class="table-header">
                                    <div class="table-name">
                                        <span>
                                            Information Name
                                        </span>
                                    </div>
                                    <div class="platforms-filter-container">
                                        <input type="text" id="platform-filter" class="platform-filter"
                                        placeholder="Filter information..">
                                        <button class="custom-button custom-filter-button" onclick="filterPlatforms()">
                                            Filter
                                        </button>
                                        <hr class="filter-button-separator"/>
                                        <button class="custom-button custom-reset-button" onclick="resetPlatformFilter()">
                                            Reset
                                        </button>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                        @for(information <- informationList) {
                            <tr id="platform-table-row" class="management-table-row">
                                <td id="platform-table-column" class="table-column">
                                    <a class="management-table-row-link">
                                        @information.informationName</a>
                                    <div class="delete-icon-container">
                                        <a>
                                            <i class="material-icons delete">delete</i>
                                        </a>
                                    </div>
                                </td>

                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}