@(platformdataForm: Form[Platformdata])
@import helper._

@main("Create New Platform") {

    <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS!!-->
    <div class="breadcrumbs">
        <p class="breadcrumb-paragraph">You are here: </p>
        <ul class="breadcrumb-list">
            <li class="breadcrumb-firstItem"><a href="@routes.PlatformsController.platforms()">
                Platforms</a></li>
            <li>@platformdataForm("platformName").getValue().orElse("Create new Platform")</li>
        </ul>
    </div>

    <div class="content-container">
        <h2>Create New Platform</h2>

        <div class="form-container">
        @helper.form(action = routes.PlatformsController.savePlatform()) {
            <fieldset>
                <legend>@platformdataForm("platformName").getValue().orElse("Create new Platform")</legend>
                @helper.inputText(platformdataForm("platformName"), '_label -> "PlatformName")
                @helper.inputText(platformdataForm("platformOrServiceType"), '_label -> "platformOrServiceType")
                @helper.inputText(platformdataForm("targetGroup"), '_label -> "targetGroup")
                @helper.inputText(platformdataForm("commercialOrNoncommercialService"), '_label
                        -> "commercialOrNoncommercialService")
                @helper.inputText(platformdataForm("freeOrSubscriptionSource"), '_label -> "freeOrSubscriptionSource")
                @helper.inputText(platformdataForm("primaryPurpose"), '_label -> "primaryPurpose")
                @helper.inputText(platformdataForm("geographicalReach"), '_label -> "geographicalReach")
                @helper.inputText(platformdataForm("numberActiveOrRegisteredUsers"), '_label
                        -> "numberActiveOrRegisteredUsers")
                @helper.inputText(platformdataForm("contentCoverage"), '_label -> "contentCoverage")
                @helper.inputText(platformdataForm("websiteURL"), '_label -> "websiteURL")
                @helper.inputText(platformdataForm("usageRanking"), '_label -> "usageRanking")
                @helper.inputText(platformdataForm("description"), '_label -> "description")
                <input type="hidden" value="@platformdataForm("platformdataId").getValue().orElse("")"
                name="platformdataId"/>
            </fieldset>
            <input type="submit" class="custom-button" value="Save"/>
            <a class="custom-button" href="@routes.PlatformsController.platforms()">Cancel</a>
        }
        </div>
    </div>
}