@(impactContents: List[ImpactContent], impacts: List[Impact], platform: models.Platform)
@import helper._

@platformName() = @{
    platform.platformName
}

@platformId() = @{
    if(platform != null) platform.platformId
}

@main("Platform Functions") {
    <!-- JavaScript Router to enable dialogs and routing from them.
        <script type="text/javascript" src="routes.ApplicationController.javascriptRoutes"></script>
-->
    <script src="@routes.Assets.at("javascripts/platforms.js")" type="text/javascript"></script>

        <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS!!-->
    <div class="breadcrumbs">
        <p class="breadcrumb-paragraph">You are here: </p>
        <ul class="breadcrumb-list">
            <li class="breadcrumb-firstItem">
                <a class="discard-warning"
                href="@routes.PlatformsController.platforms()">
                Platforms
                </a>
            </li>
            <li>
                <a href="@routes.PlatformsController.showSelectedPlatformInformation(platform.platformId)"
                class="list-item-link discard-warning">
                @platformName()
                </a>
            </li>
            <li>Impacts by Category
                <strong>
                        <!-- Horrible Formatting...But otherwise there are whitespaces...-->
                        (@for(impact <- impacts) {@if(request.path.contains(impact.impactDescription)){@impact.impactCategory}})
                </strong>
            </li>
        </ul>
    </div>

    <div class="content-container">
        <div class="platform-details-container">
            <div class="platform-details-header-container">
                <h1 class="platforms-headings">@platformName()</h1>
            </div>

            <div class="form-container">
            @helper.form(action = routes.PlatformsController.savePlatformImpacts(),
                'class -> "custom-form") {
                <fieldset class="fieldset-container">
                    <legend>
                        <div class="platform-form-legend">
                            <a class="platforms-top-navigation-link discard-warning"
                            href="@routes.PlatformsController.showSelectedPlatformInformation(platform.platformId)">
                                Platform Information
                            </a>
                            <a class="platforms-top-navigation-link discard-warning"
                            href="@routes.PlatformsController.showSelectedPlatformFunctions(platform.platformId)">
                                Functions (by Category)
                            </a>
                            <a class="platforms-top-navigation-link platform-navigation-active">
                                Impacts (by Category)
                            </a>
                            <div class="platforms-right-bottom-border"></div>
                        </div>
                    </legend>
                    <input type="hidden" value="@platformId()" name="platformId"/>

                    <div class="platforms-category-subnavigation">
                        @for(impact <- impacts) {
                            @if(request.path.contains(impact.impactDescription)) {
                                <div class="platforms-category-active-subnavigation">
                                    <div class="platform-subnavigation-bottom-border"></div>
                                    <a class="platforms-subnavigation-link platforms-subnavigation-active">
                                    @impact.impactCategory
                                    </a>
                                    <input type="hidden" value="@impact.impactCategory"
                                    name="impactCategory"/>
                                    <input type="hidden"  id="category-url"
                                    value="@impact.impactDescription"
                                    name="impactCategoryUrl"/>
                                    <div class="platform-subnavigation-bottom-border"></div>
                                </div>
                            }
                        }
                        <div class="platforms-category-inactive-subnavigation">
                        @for(impact <- impacts) {
                            @if(!request().path.contains(impact.impactDescription)) {
                                <div class="platforms-subnavigation-link-container">
                                        <!-- Very ugly formatting but line breaks break everything-->
                                    <a class="platforms-subnavigation-link discard-warning"
                                    href="@routes.PlatformsController.showSelectedPlatformImpactsCategories(platform.platformId, impact.impactDescription)">
                                    @impact.impactCategory
                                    </a>
                                </div>
                            }
                        }
                        </div>
                    </div>
                    <div class="inner-fieldset-container">
                        @for(contentObject <- impactContents) {
                            <label for="impactId-@contentObject.impact.impactId" class="input-label">
                            @contentObject.impact.impactName
                            </label>
                            <textarea class="input-textarea change-detection" rows="1"
                            name="impactContent-@contentObject.impact.impactId"
                            id="impactContent-@contentObject.impact.impactId"
                            placeholder="@contentObject.impact.impactName.."
                            >@contentObject.impactContent</textarea>
                                <!-- Show an error message when there is an input
                                    error on the general information content. -->
                            @if(flash.containsKey("impact_content_error"
                                    + contentObject.impact.impactId)) {
                                <div class="alert alert-error">
                                @flash.get("impact_content_error" + contentObject.impact.impactId)
                                </div>
                            }
                            <input type="hidden" value="@contentObject.impact.impactId"
                            name="impactId-@contentObject.impact.impactId"/>
                            <input type="hidden" value="@contentObject.impactContentId"
                            name="impactContentId-@contentObject.impact.impactId"/>

                        }
                        <div class="form-buttons-container">
                            <button name="submit-button" type="submit" class="custom-button"
                            id="form-submit-button" value="saveandexit">
                                Save & Exit
                            </button>
                            <div>
                                <button type="button"
                                class="custom-button" onclick="submitWithCategory('saveimpactcategory-')">
                                    Save
                                </button>
                                <a class="custom-button custom-link-button" href="@routes.PlatformsController.platforms()">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </fieldset>
            }
            </div>
        </div>
    </div>
}