@(functionContents: List[FunctionContent], functions: List[Function], platform: models.Platform)
@import helper._

@platformName() = @{
    platform.platformName
}

@platformId() = @{
    if(platform != null) platform.platformId
}

@main("Platform Functions Page") {
    <!-- JavaScript Router to enable dialogs and routing from them. -->
    <script type="text/javascript" src="@routes.ApplicationController.javascriptRoutes"></script>

    <script src="@routes.Assets.at("javascripts/platforms.js")" type="text/javascript"></script>

        <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS!!-->
    <div class="breadcrumbs">
        <p class="breadcrumb-paragraph">You are here: </p>
        <ul class="breadcrumb-list">
            <li class="breadcrumb-firstItem">
                <a class="discard-warning"
                href="@routes.PlatformsController.platforms()">
                    Platforms
                </a>
            </li>
            <li>
                <a href="@routes.PlatformsController.showSelectedPlatformInformation(platform.platformId)"
                class="list-item-link discard-warning">
                @platformName()
                </a>
            </li>
            <li>Functions by Category
                <strong>
                        <!-- Horrible Formatting...But otherwise there are whitespaces...-->
                        (@for(function <- functions){@if(request.path.contains(function.functionDescription)){@function.functionCategory}})
                </strong>
            </li>
        </ul>
    </div>

    <div class="content-container">
        <div class="platform-details-container">
            <div class="platform-details-header-container">
                <h1 class="platforms-headings">@platformName()</h1>
            </div>

            <div class="form-container">
            @helper.form(action = routes.PlatformsController.savePlatformFunctions(),
                'class -> "custom-form") {
                <fieldset class="fieldset-container">
                    <legend>
                        <div class="platform-form-legend">
                            <a class="create-new-top-navigation-link discard-warning"
                            href="@routes.PlatformsController.showSelectedPlatformInformation(platform.platformId)">
                                Platform Information
                            </a>
                            <a class="platform-navigation-active create-new-top-navigation-link">
                                Functions (by Category)
                            </a>
                            <a class="create-new-top-navigation-link discard-warning"
                            href="@routes.PlatformsController.showSelectedPlatformImpacts(platform.platformId)">
                                Impacts (by Category)
                            </a>
                            <div class="create-new-right-bottom-border"></div>
                        </div>
                    </legend>
                    <input type="hidden" value="@platformId()" name="platformId"/>

                    <div class="platforms-category-subnavigation">
                        @for(function <- functions) {
                            @if(request.path.contains(function.functionDescription)) {
                                <div class="platforms-category-active-subnavigation">
                                    <div class="platform-subnavigation-bottom-border"></div>
                                    <a class="platforms-subnavigation-link platforms-subnavigation-active">
                                    @function.functionCategory
                                    </a>
                                    <input type="hidden" value="@function.functionCategory"
                                    name="functionCategory"/>
                                    <input type="hidden" id="category-url"
                                    value="@function.functionDescription"
                                    name="functionCategoryUrl"/>
                                    <div class="platform-subnavigation-bottom-border"></div>
                                </div>
                            }
                        }
                        <div class="platforms-category-inactive-subnavigation">
                        @for(function <- functions) {
                            @if(!request().path.contains(function.functionDescription)) {
                                <div class="platforms-subnavigation-link-container">
                                        <!-- Very ugly formatting but line breaks break everything-->
                                    <a class="platforms-subnavigation-link discard-warning"
                                    href="@routes.PlatformsController.showSelectedPlatformFunctionsCategories(platform.platformId, function.functionDescription)">
                                    @function.functionCategory
                                    </a>
                                </div>
                            }
                        }
                        </div>
                    </div>
                    <div class="inner-fieldset-container">
                        @for(contentObject <- functionContents) {
                            <label for="functionId-@contentObject.function.functionId" class="input-label">
                            @contentObject.function.functionName
                            </label>
                            <textarea class="input-textarea change-detection" rows="1"
                            name="functionContent-@contentObject.function.functionId"
                            id="functionContent-@contentObject.function.functionId"
                            placeholder="@contentObject.function.functionName.."
                            >@contentObject.functionContent</textarea>
                                <!-- Show an error message when there is an input
                                    error on the general information content. -->
                            @if(flash.containsKey("function_content_error"
                                    + contentObject.function.functionId)) {
                                <div class="alert alert-error">
                                @flash.get("function_content_error" + contentObject.function.functionId)
                                </div>
                            }
                            <input type="hidden" value="@contentObject.function.functionId"
                            name="functionId-@contentObject.function.functionId"/>
                            <input type="hidden" value="@contentObject.functionContentId"
                            name="functionContentId-@contentObject.function.functionId"/>

                        }
                        <div class="form-buttons-container">
                            <button name="submit-button" type="submit" class="custom-button"
                            id="form-submit-button" value="saveandexit">
                                Save & Exit
                            </button>
                            <div>
                                <button type="button"
                                class="custom-button" onclick="submitWithCategory('savefunctioncategory-')">
                                    Save
                                </button>
                                <a class="custom-button custom-link-button unselectable"
                                href="@routes.PlatformsController.platforms()">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </fieldset>
            }
            </div>
        </div>
    </div>
}