@(platformdataForm: Form[Platformdata])
@import helper._

@main("Create New Platform") {

    <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS!!-->
    <div class="breadcrumbs">
        <p class="breadcrumb-paragraph">You are here: </p>
        <ul class="breadcrumb-list">
            <li class="breadcrumb-firstItem"><a href="@routes.PlatformsController.platforms()">
                Platforms</a></li>
            <li>@platformdataForm("platformName").getValue().orElse("Create new Platform")</li>
        </ul>
    </div>

    <div class="content-container">
        <div class="platform-details-container">
            <div class="platform-details-header-container">
                <h1>@platformdataForm("platformName").getValue().orElse("Create new Platform")</h1>
                <a class="link-with-icon" href="@routes.PlatformsController.platforms()">
                    View Functions<!--of @platformdataForm("platformName").getValue().orElse("Undefined")-->
                    <i class="material-icons button-right-arrow">arrow_forward</i>
                </a>
            </div>
            <div class="form-container">
            @helper.form(action = routes.PlatformsController.savePlatform(), 'class -> "custom-form") {
                <fieldset class="fieldset-container">
                    <legend><h3>General Platform Information</h3></legend>

                    <input type="hidden" value="@platformdataForm("platformdataId").getValue().orElse("")"
                    name="platformdataId"/>
                    <div class="required-input-container">
                    @helper.inputText(platformdataForm("platformName"), '_label -> "Platform Name")
                    </div>
                    @helper.inputText(platformdataForm("platformOrServiceType"), '_label -> "Platform or Service Type")
                    @helper.inputText(platformdataForm("targetGroup"), '_label -> "Target Group")
                    @helper.inputText(platformdataForm("commercialOrNoncommercialService"), '_label
                            -> "Commercial or Noncommercial Service")
                    @helper.inputText(platformdataForm("freeOrSubscriptionSource"), '_label -> "Free or Subscription Source")
                    @helper.inputText(platformdataForm("primaryPurpose"), '_label -> "Primary Purpose")
                    @helper.inputText(platformdataForm("geographicalReach"), '_label -> "Geographical Reach")
                    @helper.inputText(platformdataForm("numberActiveOrRegisteredUsers"), '_label
                            -> "Number of Active or Registered Users")
                    @helper.inputText(platformdataForm("contentCoverage"), '_label -> "Content Coverage")
                    @helper.inputText(platformdataForm("websiteURL"), '_label -> "Website URL")
                    @helper.inputText(platformdataForm("usageRanking"), '_label -> "Usage Ranking")
                    @helper.textarea(platformdataForm("description"), '_label -> "Description")
                    <div class="form-buttons-container">
                        <input type="submit" class="custom-button" value="Save & Exit"/>
                        <a class="custom-button custom-link-button" href="@routes.PlatformsController.platforms()">
                            Cancel
                        </a>
                    </div>
                </fieldset>
            }
            </div>
        </div>
    </div>
}