@(informationContents: List[InformationContent])
@import helper._

@platformName() = @{
    informationContents.head.platform.platformName
}

@platformId() = @{
    if(informationContents.head.platform != null) informationContents.head.platform.platformId
}

@main("General Platform Information") {
    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
        @flash.get("success")
        </div>
    }
        <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS!!-->
    <div class="breadcrumbs">
        <p class="breadcrumb-paragraph">You are here: </p>
        <ul class="breadcrumb-list">
            <li class="breadcrumb-firstItem"><a href="@routes.PlatformsController.platforms()">
                Platforms</a></li>
            <li>@platformName()</li>
        </ul>
    </div>

    <div class="content-container">
        <div class="platform-details-container">
            <div class="platform-details-header-container">
                <h1>@platformName()</h1>
                <a class="link-with-icon" href="@routes.PlatformsController.platforms()">
                    View Functions
                    <i class="material-icons button-right-arrow">arrow_forward</i>
                </a>
            </div>
            <div class="form-container">
            @helper.form(action = routes.PlatformsController.updatePlatformInformation(), 'class -> "custom-form") {
                <fieldset class="fieldset-container">
                    <legend><h3>General Platform Information</h3></legend>


                    <div class="label-input-container">
                        <label for="platformName">
                            Platform Name
                        </label>
                        <input type="text" name="platformName" value="@platformName()"
                        placeholder="Enter Platform Name.. (Required)" required/>
                            <!-- Show an error message when there is an input error on the platform name. -->
                        @if(flash.containsKey("platform_error")) {
                            <div class="alert alert-error">
                            @flash.get("platform_error")
                            </div>
                        }
                        <input type="hidden" value="@platformId()" name="platformId"/>
                    </div>


                    @for(contentObject <- informationContents) {

                        <div class="label-input-container">
                            <label for="informationId-@contentObject.information.informationId">
                            @contentObject.information.informationName
                            </label>
                            <input type="text" name="informationContent-@contentObject.information.informationId"
                            value="@contentObject.informationContent"
                            placeholder="Enter @contentObject.information.informationName.. "/>
                                <!-- Show an error message when there is an input
                                    error on the general information content. -->
                            @if(flash.containsKey("information_content_error"
                                    + contentObject.information.informationId)) {
                                <div class="alert alert-error">
                                @flash.get("information_content_error" + contentObject.information.informationId)
                                </div>
                            }
                        </div>

                        <input type="hidden" value="@contentObject.information.informationId"
                        name="informationId-@contentObject.information.informationId"/>
                        <input type="hidden" value="@contentObject.informationContentId"
                        name="informationContentId-@contentObject.information.informationId"/>

                    }

                    <div class="form-buttons-container">
                        <input type="submit" class="custom-button" value="Save & Exit"/>
                        <a class="custom-button custom-link-button" href="@routes.PlatformsController.platforms()">
                            Cancel
                        </a>
                    </div>
                </fieldset>
            }
            </div>
        </div>
    </div>
}