@(searchObject: models.Search, platformdataResultList: List[Platformdata],
        functionContentResultList: List[FunctionContent])
    @main("Search Page") {
        <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS!!-->
        <div class="breadcrumbs">
            <p class="breadcrumb-paragraph">You are here: </p>
            <ul class="breadcrumb-list">
                <li class="breadcrumb-firstItem">Search Results for "@searchObject.queryString"</li>
            </ul>
        </div>
        <div id="content-container" class="content-container">
            <h2>Search Results for "@searchObject.queryString"</h2>
            <div id="search-result-container" class="search-result-container">
                <table id="search-result-table" class="platform-table">

                    <tbody>

                        @for(platformResult <- platformdataResultList) {
                            <tr id="platform-table-row" class="platform-table-row">
                                <td id="platform-table-column" class="platform-table-column">
                                    <p>Result found in platforms:</p>
                                    <h3>
                                        <a href="@routes.PlatformsController.showSelectedPlatform(platformResult.platformdataId)">
                                            <div class="query-result">@platformResult.platformName</div></a>
                                    </h3>

                                </td>
                            </tr>
                        }
                        @for(functionContentResult <- functionContentResultList) {
                            <tr id="platform-table-row" class="platform-table-row">
                                <td id="platform-table-column" class="platform-table-column">
                                    <p>Result found in functions of platform "@functionContentResult.platformdata.platformName":</p>
                                    <h4>@functionContentResult.designationdata.designationName :</h4>
                                    <h5>
                                        <a href="@routes.PlatformsController
                                        .showSelectedPlatform(platformResult.platformdataId)">
                                            <div class="query-result">@functionContentResult.functionContent</div></a>
                                    </h5>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

            <!-- jquery.highlight.js highlighter to mark query string in search results.
             See "https://raw.githubusercontent.com/bartaz/sandbox.js/master/jquery.highlight.js".
             View "MIT License.md" in "/public/" folder. -->
        <script src="@routes.Assets.at("javascripts/jquery.highlight.js")"></script>
        <script type="text/javascript">
                /* This marks every the query string in the search results. */
                        $(".query-result").highlight("@searchObject.queryString");

                /* This is here for convenience since we can easily pass over the query string to JS.
                 * It inserts the query string into the search field after loading the search results. */
                $(document).ready(function () {
                    let searchInput = document.getElementById("search-input");
                    searchInput.value = "@searchObject.queryString";
                });
        </script>
        <script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
    }