@(searchObject: models.Search)
@main("Search Page") {
    <!-- Breadcrumbs that get displayed before the content!
             This is a bit redundant BUT works without JS!!-->
    <div class="breadcrumbs">
        <p class="breadcrumb-paragraph">You are here: </p>
        <ul class="breadcrumb-list">
            <li class="breadcrumb-firstItem">Search Results for "@searchObject.queryString"</li>
        </ul>
    </div>
    <div id="content-container" class="content-container">
        <div id="search-result-container" class="search-result-container">
            Search
        </div>
    </div>
}